@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*--- title ---*/
.container-tit{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.tit-box{
    margin-top: 20px;
    
    text-transform: uppercase;
}

.tit-box span{
    color: #a53425;
    margin-right: 10px;
}
/*--- BOXGRID ARTICLES ---*/

.boxGrid{
    display: grid;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.news{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: fit-content;
    height: auto;
    background-color: #f7f7f7;
    border: 1px solid #e6e8e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.news .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    height: auto;
    min-height: 90%;
}

#target0{
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
}

#target3, #target4{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#target3 .text{
    width: 90%;
    
 
}

/*--*/
.news .text h5{
    color: gray;
}

.news img{
    width: 100px;
    height: 80px;
    padding: 10px;
}

.bullet{
    color: #a53425;
    margin-right: 10px;
    font-size: 1rem;
}

/*EFECT SHOW MORE TEXT*/
.more-text{
    display: none;
}

.read-more{
    color: #254aa5;
    cursor: pointer;
    font-weight: bold;
}

.text-news span{
    font-weight: bold;
}

/*----*/

.video-container{
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}


.uganda-gradient{
    font-weight: bold;
    background: linear-gradient(
        to bottom,
    #000000, 
    #FFD700, 
    #FF0000, 
    #000000, 
    #FFD700, 
    #FF0000
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.flag-uganda{
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.flag-uganda img{
    width: 100%;
}

.flag-uganda .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: #f7f7f7;
    border: 1px solid #e6e8e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/*--clock --*/

#target5{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#target5 img{
    width: 100%;
    height: auto;
}

.box-clock{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.box-clock h3{
    text-transform: capitalize;
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 80px;
    background-color: #000000;
    width: 150px;
} 

.inner-clock{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 90%;
    background-color: rgba(255, 1, 0, 0.2);
}

@font-face {
    font-family: 'Digital7';
    src: url('digital-7.ttf') format('truetype');
}

.inner-clock h3{
    font-family: 'Digital7', monospace;
    font-size: 30px;
    color: #ff0100;
}
   

@media screen and (max-width: 1024px){

    .container-tit{
        width: 90%;
    }

    .boxGrid{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .box .text p{
        font-size: 14px;
    }

    .news{
        grid-template-columns: 1fr;
        min-height: 110px;
        height: auto;
    }
    
    .news img{
        width: 100%;
        height: auto;
        padding: 0;
    }

   
    .bullet{
        font-size: 10px;
    }

    #target3 .text{
        text-align: center;

    }

    .inner-clock h3{
        font-size: 28px;
    }
    
}