/*TITLE, SLIDER, FLAG ON THE LETTERS*/

.country-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: beige;
    border: 1px solid #e6e8e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 70%;
    gap: 20px;
    border-radius: 10px;
}

.country-container h1{
    text-align: center;
}

.flag-letters {
  font-weight: bold;
  font-size: 3rem;
  background: linear-gradient(
    to bottom,
    #8a211d,
    #103d71,
    #f7f7f7,
    #8a211d,
    #103d71,
    #f7f7f7
  );
  background-size: 100% 300%;
  background-position: top;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 5s infinite linear;
}

@keyframes moveGradient {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}


/*-- SLIDER --*/

.slider-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}


.slider {
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    display: none;
    border-radius: 10px;
}

.slide.active {
    display: block;
}

.slider-buttons {
    text-align: center;
    margin-top: 10px;
}

.slider-buttons .btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-buttons .btn.active {
    background-color: #555;
}


/*--VIDEO CONTAINER--*/

.video-container{
    width: 100%;
    max-width: 600px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.flag-uganda{
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.flag-uganda img{
    width: 100%;
}

.flag-uganda .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: #f7f7f7;
    border: 1px solid #e6e8e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/*--clock --*/

#target5{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#target5 img{
    width: 100%;
    height: auto;
}

.box-clock{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.box-clock h3{
    text-transform: capitalize;
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 80px;
    background-color: #000000;
    width: 150px;
} 

.inner-clock{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 90%;
    background-color: rgba(255, 1, 0, 0.2);
}

@font-face {
    font-family: 'Digital7';
    src: url('digital-7.ttf') format('truetype');
}

.inner-clock h3{
    font-family: 'Digital7', monospace;
    font-size: 30px;
    color: #ff0100;
}
   

@media screen and (max-width: 1024px){

    .box-container{
        width: 95%;
    }

    .country-container{
        width: 95%;
      
    }

    .tit-box {
        font-size: 18px;
    }

    .description-POW{
        font-size: 14px;
        
    }

    .boxGrid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .box .text p{
        font-size: 14px;
    }

    .news{
        grid-template-columns: 1fr;
        width: 95%;
        min-height: 110px;
        height: auto;
    }
    
    .news img{
        width: 100%;
        height: auto;
        padding: 0;
    }

   
    .bullet{
        font-size: 10px;
    }

    #target3 .text{
        text-align: center;

    }

    .clock{
        width: 130px;
    }

    .inner-clock h3{
        font-size: 25px;
    }
    
}