@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    padding-bottom: 80px;
}

.main-container{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}


.box-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tit-box{
    width: 100%;
    text-transform: uppercase;

}

.tit-box span{
    color: #a53425;
    margin-right: 10px;
}

/*--- BOXGRID ARTICLES ---*/

.boxGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

.news{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: fit-content;
    height: auto;
    background-color: beige;
    border: 1px solid #e6e8e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2%;
    border-radius: 10px;
    cursor: pointer; 
}


/*-- SLIDER --*/

.slider-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    padding: 10px;
    background-color: beige;
    border: 1px solid #e6e8e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/*title of article*/
.slider-container .text h4{
    color: #c46564;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    display: none;
    border-radius: 10px;
}

.slide.active {
    display: block;
}

.slider-buttons {
    text-align: center;
    margin-top: 10px;
}

.slider-buttons .btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-buttons .btn.active {
    background-color: #555;
}

/*------*/


.box .show{
    transform: translate(0);
}

.news .text h4{
    text-transform: capitalize;
}

.news .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

/*title of article*/
.news .text h4{
    color: #c46564;
}

/*description of news*/
.text .description{
    color: #353634;
}

/* hidden text */
.news-text{
    display: none;
    color: #2b2b2b;
}



.news img{
    width: 100%;
    height: auto;
}

.bullet{
    color: #a53425;
    margin-right: 10px;
    font-size: 1rem;
}
/* SCROLL EFFECT*/ 
.entrada {
    transition-delay: 0.3s;
    opacity: 0;
    transform: translateX(0);
    transition: all 1s cubic-bezier(0.65, 0, 0.35, 1);
    will-change: opacity, transform;
}

.entrada.visible {
    opacity: 1;
}

.entrada.izquierda {
    transform: translateX(-100px);
}

.entrada.derecha {
    transform: translateX(100px);
}

.entrada.visible.izquierda {
    transform: translateX(0);
}

.entrada.visible.derecha {
    transform: translateX(0);
}



/*ADVERTAISING*/

#ad{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    height: 120px;
}

#ad .text{
    color: black;
}

@media screen and (max-width: 1024px){

    body{
        padding-top: 0;
        padding-bottom: 80px;
    }

    .main-container{
        margin-top: 50px;
        padding: 0;
    }

    .box-container{
        width: 95%;
        padding-top: 20px;
    }

    .boxGrid{
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    .tit-box {
        font-size: 18px;
    }

    /*NEWS grid-layout and flex-layout*/

    .news:hover{
        display: flex;
        flex-direction: column;
    }

}