@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 100px;
    padding-bottom: 80px;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}


.box-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tit-box{
    width: 100%;
    text-transform: uppercase;

}

.tit-box span{
    color: #a53425;
    margin-right: 10px;
}

/*--- BOXGRID ARTICLES ---*/

.boxGrid{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

/*color*/

.blue{
    --clr:#4285F4;
}

.red{
    --clr:#db4437;
}

.yellow{
    --clr: #f4b400;
}

.green{
    --clr: #0f9d58;
}

.news{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: fit-content;
    height: auto;
    background-color: var(--clr);
    border: 1px solid #e6e8e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2%;
    border-radius: 10px;
    cursor: pointer; 
}


.box .show{
    transform: translate(0);
}

.news .text h4{
    text-transform: capitalize;
}

.news .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.news-text{
    display: none;
    color: aliceblue;
}

.news .text{
    color: #f0f0f0;
}

.news img{
    width: 100%;
    height: auto;
}

.bullet{
    color: #a53425;
    margin-right: 10px;
    font-size: 1rem;
}
/* SCROLL EFFECT*/ 
.entrada {
    transition-delay: 0.3s;
    opacity: 0;
    transform: translateX(0);
    transition: all 1s cubic-bezier(0.65, 0, 0.35, 1);
    will-change: opacity, transform;
}

.entrada.visible {
    opacity: 1;
}

.entrada.izquierda {
    transform: translateX(-100px);
}

.entrada.derecha {
    transform: translateX(100px);
}

.entrada.visible.izquierda {
    transform: translateX(0);
}

.entrada.visible.derecha {
    transform: translateX(0);
}



/*ADVERTAISING*/

#ad{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    height: 120px;
}

#ad .text{
    color: black;
}

@media screen and (max-width: 1024px){

    body{
        padding-top: 0;
        padding-bottom: 80px;
    }

    .main-container{
        margin-top: 0;
    }

    .box-container{
        width: 95%;
    }

    .tit-box {
        font-size: 18px;
    }

    /*NEWS grid-layout and flex-layout*/

    .news:hover{
        display: flex;
        flex-direction: column;
    }

}