@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    padding-bottom: 60px;
}

:root {
    font-size: 18px; /* Aumentamos la base para pantallas grandes (1rem = 18px) */
}

h1 {
    font-size: 2.5rem; /* 45px */
}

h2 {
    font-size: 2rem; /* 36px */
}

h3 {
    font-size: 1.75rem; /* 31.5px */
}

h4 {
    font-size: 1.5rem; /* 27px */
}

p {
    font-size: 1.125rem; /* ~20px */
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1%;
}

/*--- DATE, ISSUE and TITLE ---*/
.date-issue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: auto;
    width: 70%;
    
}

.date{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 150px;
    height: 30px;
    margin-left: 10px;
}

.issue{
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.issue a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #000;
    margin-top: 55px;
    right: 310px;
    z-index: 100;
    flex-direction: column;
}

.dropdown-menu a {
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

/*TITLE*/
.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-newspaper{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1%;
    
}

.name-newspaper a{
    text-decoration: none;
    color: black;
}

.title h1{
    text-align: center;
    font-family: 'UnifrakturMaguntia', serif;
    font-size: 50px;
    font-weight: bold;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 120px;
    height: auto;
   
}

/*MENU, NAV */
.menu{
    width: 70%;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid  #777777;
    border-bottom: 1px solid  #777777;
    padding: 1%;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    color: #484848;
}

.menu ul li a:hover{
    color: #a53425;
}

/*BURGER*/
.checkbtn{
    width: 30px;
    height: 40px;
    visibility: hidden;
}

.burger{
    width: 40px;
    height: 50px;
}


/*--- footer ---*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1%;
    z-index: 10001;
    
}

.menu-icono{   
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
   
    
}

.menu-icono img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #ffffa3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-icono img:hover{
    background-color: #e0180a;
    transform: scale(1.2);
}

@media screen and (max-width: 1024px){
    :root {
        font-size: 16px; /* Base para móviles (1rem = 16px) */
    }
      
    /* Tamaños para móviles (default) */
    h1 {
        font-size: 1.8rem; /* 32px */
    }
      
    h2 {
        font-size: 1.75rem; /* 28px */
    }
      
    h3 {
        font-size: 1.5rem; /* 24px */
    }
      
    h4 {
        font-size: 1.25rem; /* 20px */
    }

    h5{
        font-size: 1rem; /* 20px */
    }
      
    p{
        font-size: 1rem; /* 16px */
    }

    .date-issue{
        margin-top: 70px;
    }

    .name-newspaper {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        background-color: white; 
        z-index: 1000; 
        padding-top: 10PX;
        padding-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    }

    .title .name-newspaper h1{
        font-size: 1.25rem;
    }

    .title .name-newspaper .logo h4{
        font-size: 15px ;
    }

    .menu {
        display: block; 
        position: fixed;
        top: 60px;
        left: -100%; 
        width: 100%; 
        height: 300px;
        background-color: white;
        transition: left 0.5s ease-in-out; 
        padding-top: 50px;
        z-index: 999;
    }
   
    .menu.active {
        left: 0;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        border: none;
    }

    .menu ul li {
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    .checkbtn {
        visibility: visible;
        cursor: pointer;
        width: 30px;
        height: 40px;
    }


    .date-issue{
        width: 90%;
    }

    .dropdown-menu {
        margin-top: 50px;
        right: 30px;
    }

    .date{
        width: 130px;
        height: 20px;
    }

    .burger{
        width: 30px;
        height: 40px;
    }

    .logo img{
        width: 40px;
        height: auto;
       
    }

    footer p{
        border: none;
    }
  
    
}