@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    padding-bottom: 60px;
}

:root {
    font-size: 18px; /* Aumentamos la base para pantallas grandes (1rem = 18px) */
}

h1 {
    font-size: 2.5rem; /* 45px */
}

h2 {
    font-size: 2rem; /* 36px */
}

h3 {
    font-size: 1.75rem; /* 31.5px */
}

h4 {
    font-size: 1.5rem; /* 27px */
}

p {
    font-size: 1.125rem; /* ~20px */
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    
}

/*--- DATE, ISSUE and TITLE ---*/
.date-issue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: auto;
    width: 70%;
    
}

.date{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 150px;
    height: 30px;
    margin-left: 10px;
}

.issue{
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.issue a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}


/*TITLE*/
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-newspaper{
    width: 70%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    background-color: #ca4128;
    top: 50px;
    position: fixed; 
    z-index: 1000; 
    
}

.name-newspaper i{
    text-align: center;
    color: #ffffa3;
    font-size: 50px;
    text-shadow:
    -0.5px -0.5px 0 black,
     0.5px -0.5px 0 black,
    -0.5px  0.5px 0 black,
     0.5px  0.5px 0 black;
}

.name-newspaper a{
    text-decoration: none;
    color: #ffffa3;
    text-align: center;
}

.title h1{
    text-align: center;
    font-family: 'UnifrakturMaguntia', serif;
    font-size: 50px;
    font-weight: bold;
    text-shadow:
    -0.5px -0.5px 0 black,
     0.5px -0.5px 0 black,
    -0.5px  0.5px 0 black,
     0.5px  0.5px 0 black;
}


/*--- footer ---*/
footer{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    z-index: 10001;
}

.menu-icono{   
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    border-radius: 20px;
    background-color: #ca4128;
    padding: 1%;
}

.menu-icono a{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffa3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.menu-icono i{
    color: black;
    font-size: 40px;
}

.menu-icono i:hover{
    background-color: #e0180a;
    transform: scale(1.2);
}

@media screen and (max-width: 1024px){
    :root {
        font-size: 16px; /* Base para móviles (1rem = 16px) */
    }
      
    /* Tamaños para móviles (default) */
    h1 {
        font-size: 1.8rem; /* 32px */
    }
      
    h2 {
        font-size: 1.75rem; /* 28px */
    }
      
    h3 {
        font-size: 1.5rem; /* 24px */
    }
      
    h4 {
        font-size: 1.25rem; /* 20px */
    }

    h5{
        font-size: 1rem; /* 20px */
    }
      
    p{
        font-size: 1rem; /* 16px */
    }

    .date-issue{
        margin-top: 70px;
    }

    .name-newspaper {
        top: 0;
        width: 100%;
        background-color:#ca4128; 
        
    }

    .title .name-newspaper h1{
        font-size: 1rem;
    }

    .date-issue{
        width: 90%;
    }


    .date{
        width: 130px;
        height: 20px;
    }

    .burger{
        width: 30px;
        height: 40px;
    }

    .logo img{
        width: 40px;
        height: auto;
       
    }

    .menu-icono{   
        width: 90%;
    }

    .menu-icono i{
        font-size: 20px;
    }

    .menu-icono a{
        width: 30px;
        height: 30px;
    }

    .name-newspaper i{
        font-size: 20px;
    }
  
    
}