@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*--- link to real news ---*/

.live{
    display: flex;
    gap: 10px;
  
}

.live div a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.live-normal{
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.live span{
    font-size: 11px;
    font-weight: lighter;
    color: gray;
}

.live-color{
    color: red;
    font-size: 14px;
    padding: 10px;
}

/*--- BOX CONTAINER,---*/
.box-container{
    display: grid;
    width: 70%;
    grid-template-columns: 3fr 1fr; /*text 3f advs 1f*/
    justify-content: center;
    gap: 10px;
}

.boxGrid{
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1%;
    
}

.news{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: fit-content;
    height: auto;
    background-color: #f7f7f7;
    border: 1px solid #e6e8e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

#news0{
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    min-height: 250px;
}

.news .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    height: auto;
    min-height: 90%;
}

.text h2{
    text-transform: uppercase;
}

.headline{
    font-size: 50px;
    
}

.news .text h5{
    color: grey;
}

.news img{
    width: 100%;
    height: auto;
    padding: 10px;
}

.bullet{/*Vinieta para el nombre de los writers*/
    color: #a53425;
    margin-right: 10px;
    font-size: 1rem;
}

/*In memoriam CLIVE*/

#Clive-memoriam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    padding: 10px;
}


.clive-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.clive-box a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}

.clive-box img{
    width: 20%;
    height: auto;
}

#Clive-memoriam .clivepng{
    width: 30%;
    height: auto;
}



/*CAPTION COMPETITION*/
#campComp{
    width: 100%;
    min-height: 80px;
    height: auto;
}

#news4 .picture{
    transition: transform 0.3s ease;
    cursor: pointer;
}

#news4 .picture:hover {
    transform: scale(1.1);
}

/*EFECT SHOW MORE TEXT*/
.more-text{
    display: none;
}

.read-more{
    color: #254aa5;
    cursor: pointer;
    font-weight: bold;
}

.text-news span{
    font-weight: bold;
}


/*ADVERTISING*/
.bigBox-ads{
    display: flex;
    flex-direction: column;
}

.bigBox-ads .title{
    display: flex;            
    align-items: center;        
    height: 50px;
}

.bigBox-ads .title h3{
    width: 100%;
    font-family:  'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 2px;
    color: gray;
   
}

.publi{
    color: #a53425;
}

.advertising{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;   
}

#target0{
    grid-column-start: 1;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
}

#target1{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;
}

#target2{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;
}

.ads{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    height: auto;
   
}

.ads h4{
    padding-top: 5px;
    text-transform: uppercase;
    font-family:  'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 2px;
}

.text-ads{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.text-ads p{
    font-size: 14px;
}

.advertising img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 10%;
}


@media screen and (max-width: 1024px){

    #no-movil {
        display: none;
    }

    .text-clive a{
        font-size: 15px;
    }

    .box-container{
        grid-template-columns: 1fr;
        width: 100%;
    }

    .boxGrid{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 0;
    }

    #news3{
        grid-column-start: 1;
        grid-column-end: 3;
    
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #news4{
        grid-column-start: 1;
        grid-column-end: 3;
    
        grid-row-start: 4;
        grid-row-end: 5;
       
    }

    .news{
        grid-template-columns: 1fr;
        align-items: normal;
        height: auto;
        gap: 10px;
      
    }


    .news img {
        width: 100%;
        height: auto;
        padding: 0;
    }

    #news1 #news2 img{
        height: 80px;
    }

    .headline {
        font-size: 25px;
    }

    .bullet{
        font-size: 10px;
    }


    /*-- ads--*/
    .advertising {
        width: 100%;
    }

    .ads img {
        width: 100%;
        height: auto;
    }

    .bigBox-ads {
        width: 100%;
        padding-bottom: 20px;
    }

    .clive-box a{
        font-size: 15px;
    }

    .clive-box img{
        width: 10%;
        height: auto;
    }

    #Clive-memoriam{
        width: 90%;
    }

    #Clive-memoriam .clivepng{
        width: 100%;
        height: 50%;
        
    }

   
}

