@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tit-box{
    margin-top: 20px;
    width: 70%;
    text-transform: uppercase;
}

.tit-box span{
    color: #a53425;
    margin-right: 10px;
}

/*--- CROSSWORD ---*/

.crossword{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f7f7f7;
    border: 1px solid #e6e8e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 70%;
    gap: 20px;

}

.grid {
    display: grid;
    grid-template-columns: repeat(13, 40px);
    gap: 5px;
}
.cell-container {
    position: relative;
    width: 40px;
    height: 40px;
}
.cell {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
}
.cell:focus {
    outline: 2px solid blue;
}
.black {
    background-color: black;
}
.number {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 10px;
    color: black;
}

/*clues-box, across and down */
.clues {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: auto;
}

.clues-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.clues-box span{
    font-weight: bold;
}

.clues-box ul li{
    list-style: none;
}

/*--- BOXGRID ARTICLES ---*/

.boxGrid{
    display: grid;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.news{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: fit-content;
    height: auto;
    background-color: #f7f7f7;
    border: 1px solid #e6e8e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}



.news .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: auto;
    min-height: 90%;
}

.news .text h5{
    color: gray;
}

.news img{
    width: 100px;
    height: 80px;
    padding: 10px;
}

.bullet{
    color: #a53425;
    margin-right: 10px;
    font-size: 1rem;
}

/*EFECT SHOW MORE TEXT*/
.more-text{
    display: none;
}

.read-more{
    color: #254aa5;
    cursor: pointer;
    font-weight: bold;
}

.text-news span{
    font-weight: bold;
}

/*--- SMALL CROSSWORD ---*/

.news .text .gridSmall{
    display: grid;
    grid-template-columns: repeat(4, 40px);
    justify-content: center;
    gap: 5px;
}

.news .text .cell2{
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid black;
}


@media screen and (max-width: 1024px){
    .tit-box{
        width: 90%;
    }

    .crossword{
        flex-direction: column;
        width: 100%;
    }

    .grid {
        grid-template-columns: repeat(13, 20px);
        gap: 0;
    }

    .cell-container {
        position: relative;
        width: 20px;
        height: 20px;
    }

    .cell {
        font-size: 12px;
    }

    .clues {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .boxGrid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        width: 90%;
    }

    .news{
        min-height: 110px;
        height: auto;
    }

    .news img{
        width: 70px;
        height: 80px;
        
    }

    .news .text .gridSmall{
        grid-template-columns: repeat(5, 25px);
        
    }

    .news .text .cell2{
        width: 25px;
        height: 25px;
    }

    .bullet{
        font-size: 10px;
    }

}   

